$colorRed: red;
$colorBlue: blue;
$colorLightBlue: #5ca9fb;
$colorWhite: white;
$colorBlack3: #333;
$colorBlack5: #555;
$colorBlack7: #777;
$colorGrey: #f6f6f6;
$colorButtonBlue: #5ca9fb;

$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$gradientBlueR: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
$gradientBlueL: linear-gradient(to left, #6372ff 0%, #5ca9fb 100%);

$font-med: 1.5rem;

$font-very-bold: 800;
$font-bold: 700;
$font-bold-slim: 600;
$font-medium: 500;
$font-light-medium: 400;
$font-light: 300;

$familly-sans: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  padding: 6.25rem 0;
}
