$colorRed: red;
$colorBlue: blue;
$colorLightBlue: #5ca9fb;
$colorLightBlue08: rgba(92, 169, 251, 0.3);
$colorWhite: white;
$colorBlack3: #333;
$colorBlack5: #555;
$colorBlack7: #777;
$colorGrey: #f6f6f6;
$colorButtonBlue: #5ca9fb;

$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$gradientBlueR08: linear-gradient(
  to right,
  rgba(99, 115, 255, 0.6) 0%,
  rgba(92, 169, 251, 0.6) 100%
);
$gradientBlueR: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
$gradientBlueL: linear-gradient(to left, #6372ff 0%, #5ca9fb 100%);

$font-med: 1.5rem;

$weight800: 800;
$weight700: 700;
$weight600: 600;
$weight500: 500;
$weight400: 400;
$weight300: 300;

// $font-very-bold: 800;
// $font-bold: 700;
// $font-bold-slim: 600;
// $font-medium: 500;
// $font-light-medium: 400;
// $font-light: 300;

$familly-sans: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

// .container {
//   padding: 6.25rem 0;
// }

@keyframes show-list {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%);
  }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide-list {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%);
  }
}
