@import "../../assets/scss/variabiles";
@import "../../assets/scss/mixins";

.team {
  width: 100vw;
  padding: 6.25rem 0;
  &__info {
    font-size: 1.125rem;
    font-family: $familly-sans;
    color: $colorBlack7;
    margin-bottom: 4.375rem;
  }

  &__container {
    width: 73.125rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@include breakpoint-down(pc) {
  .team {
    &__container {
      width: fit-content;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include breakpoint-down("740px") {
  .team {
    &__info {
      width: 80%;
      text-align: center;
      margin: 0 auto 4.375rem;
    }

    &__container {
      grid-template-columns: 1fr;
    }
  }
}
