@import "../../assets/scss/variabiles";
@import "../../assets/scss/mixins";

.title {
  width: 100%;
  position: relative;
  font-size: 2.25rem;
  color: $colorBlack3;
  font-weight: $font-very-bold;
  margin: 0.625rem 0 0.9375rem;
  padding-bottom: 0.9375rem;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    background: $gradientBlueR;
    height: 0.25rem;
    width: 3.75rem;
    bottom: 0;
    margin-left: -1.875rem;
    left: 50%;
  }
}

.title-white {
  color: $colorWhite !important;
}

.no-background {
  &::after {
    background: $colorLightBlue;
  }
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;

  &::after {
    left: 5.2%;
  }
}

.margin-bottom {
  margin-bottom: 5.9375rem;
}

@include breakpoint-down(pc) {
  .text-start {
    text-align: center;

    &::after {
      left: 50%;
    }
  }
}
