@import "../../assets/scss/variabiles";
@import "../../assets/scss/mixins";

.about {
  width: 100vw;
  height: fit-content;
  padding: 6.25rem 0;

  &__container {
    width: 73.125rem;
    height: 24.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  &__image {
    width: 32.5rem;
    margin-top: 0.625rem;
    background-image: url("../../assets/img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__aboutUs {
    margin: 30px 0;
    text-align: start;
    line-height: 1.5rem;
    font-size: 0.9375rem;
    font-weight: $font-light-medium;
    font-family: $familly-sans;
    color: $colorBlack7;
  }

  &__subtitle {
    font-size: 1.375rem;
    text-align: start;
    font-weight: $font-bold-slim;
    margin-bottom: 1.25rem;
  }

  &__context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}

@include breakpoint-down(pc) {
  .about {
    &__container {
      width: 90%;
      grid-template-columns: 3fr 2fr;
      justify-items: center;
      margin: 0 auto;
    }

    &__image {
      width: 30rem;
    }
  }
}

@include breakpoint-down(tablet) {
  .about {
    &__container {
      width: 90%;
      height: fit-content;
      grid-template-columns: 3fr 2fr;
    }

    &__image {
      width: 25rem;
    }

    &__info {
      width: 90%;
    }

    &__subtitle {
      padding-right: 1rem;
    }

    &__context {
      grid-template-columns: 1fr;
    }
  }
}
@include breakpoint-down(phone) {
  .about {
    height: fit-content;
    &__container {
      width: 90%;
      display: grid;
    }

    &__image {
      width: 25rem;
    }

    &__subtitle {
      padding-right: 1rem;
    }

    &__context {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@include breakpoint-down("810px") {
  .about {
    height: fit-content;
    &__container {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr;
    }

    &__image {
      width: 25rem;
      height: 25rem;
    }

    &__aboutUs {
      text-align: center;
    }

    &__info {
      margin-top: 3rem;
    }

    &__subtitle {
      text-align: center;
    }
    &__context {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
  }
}
@include breakpoint-down("470px") {
  .about {
    &__image {
      width: 18.75rem;
      height: 18.75rem;
    }

    &__context {
      grid-template-columns: 1fr;
      margin-left: 15vw;

      justify-items: start;
    }
  }
}
