@import "../../assets/scss/variabiles";
@import "../../assets/scss/mixins";

.features {
  width: 100vw;
  height: 100%;
  padding: 6.25rem 0;
  background-color: $colorGrey;
}

.feature {
  &__container {
    width: 73.125rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-gap: 0.625rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint-down(pc) {
  .feature {
    &__container {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
    }
  }
}

@include breakpoint-down("810px") {
  .feature {
    &__container {
      margin: 0 auto;
      width: 90%;
    }
  }
}
@include breakpoint-down("810px") {
  .feature {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}
