@import "../../assets/scss/variabiles";
@import "../../assets/scss/mixins";

.footer {
  width: 100vw;
  height: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorGrey;
  font-size: 0.875rem;
  color: $colorBlack7;

  span {
    color: $colorButtonBlue;
    margin-left: 2px;
    cursor: pointer;
  }
}

@include breakpoint-down("410px") {
  .footer {
    padding: 1rem 2rem;
    flex-direction: column;

    span {
      margin-top: 1rem;
    }
  }
}
