@import "../../assets/scss/variabiles";

.team {
  width: 100vw;
  padding: 6.25rem 0;
  &__info {
    font-size: 1.125rem;
    font-family: $familly-sans;
    color: $colorBlack7;
    margin-bottom: 4.375rem;
  }

  &__container {
    width: 73.125rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
